<h1>Welcome to Bancha!</h1>
<h2>Bancha is the best way to manage your travel for leisure, religious, health or business purposes.<br>
Meet locals to share
houses, interesting tours and funny experiences.</h2>
